<div id="<%= dom_id book %>">
  <p>
    <strong>Title:</strong>
    <%= book.title %>
  </p>

  <p>
    <strong>Author:</strong>
    <%= book.author_id %>
  </p>

  <p>
    <strong>Gener:</strong>
    <%= book.gener %>
  </p>

  <p>
    <strong>Isbn:</strong>
    <%= book.ISBN %>
  </p>

  <p>
    <strong>Publisher:</strong>
    <%= book.publisher_id %>
  </p>

  <p>
    <strong>Price:</strong>
    <%= book.price %>
  </p>

  <p>
    <strong>Stock quantity:</strong>
    <%= book.stock_quantity %>
  </p>

</div>
